
<h1 class="line-2 anim-typewriter">loading...</h1>
<!-- <div class="loader-bar">
  <div class="block-border"></div>
  <div class="block-border"></div>
  <div class="block-border"></div> 
  <div class="block-border"></div>
  <div class="block-border"></div>
  <div class="block-border"></div>
  <div class="block-border"></div>
  <div class="block-border"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div>
  <div class="block-meter"></div> -->
<!-- </div> -->
<div id="center">
  <div id="fill">
    <div id="pixel-block">
      <!-- 12 quadratini 10×10 -->
      <div class="px"></div><div class="px"></div><div class="px"></div>
      <div class="px"></div><div class="px"></div><div class="px"></div>
      <div class="px"></div><div class="px"></div><div class="px"></div>
      <div class="px"></div><div class="px"></div><div class="px"></div>
    </div>
  </div>
</div>
