html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

/* --------------------------------------
   KEYFRAMES FOR STAR ANIMATION
   -------------------------------------- */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* --------------------------------------
   SMALL STARS (700) - 1px x 1px
   -------------------------------------- */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1866px 777px #FFF,
    883px 330px #FFF,
    59px 1696px #FFF,
    497px 1572px #FFF,
    1094px 283px #FFF,
    780px 880px #FFF,
    198px 754px #FFF,
    1001px 1693px #FFF,
    901px 651px #FFF,
    1781px 1716px #FFF,
    673px 759px #FFF,
    82px 1716px #FFF,
    10px 1451px #FFF,
    987px 1561px #FFF,
    1275px 1234px #FFF,
    383px 1319px #FFF,
    1201px 1983px #FFF,
    1462px 545px #FFF,
    1254px 1763px #FFF,
    160px 1639px #FFF,
    1526px 631px #FFF,
    541px 1944px #FFF,
    1864px 1995px #FFF,
    904px 1261px #FFF,
    474px 393px #FFF,
    757px 1790px #FFF,
    1784px 18px #FFF,
    21px 162px #FFF,
    1973px 106px #FFF,
    760px 1425px #FFF,
    1175px 388px #FFF,
    1932px 418px #FFF,
    116px 1354px #FFF,
    1612px 222px #FFF,
    1378px 1166px #FFF,
    187px 1584px #FFF,
    1718px 1062px #FFF,
    243px 1613px #FFF,
    867px 1750px #FFF,
    970px 370px #FFF,
    184px 783px #FFF,
    409px 1981px #FFF,
    107px 1454px #FFF,
    1460px 1467px #FFF,
    1513px 421px #FFF,
    837px 520px #FFF,
    10px 1515px #FFF,
    178px 1524px #FFF,
    1904px 478px #FFF,
    634px 1192px #FFF,
    315px 884px #FFF,
    1305px 1132px #FFF,
    944px 1749px #FFF,
    1261px 433px #FFF,
    1727px 1016px #FFF,
    1842px 415px #FFF,
    13px 186px #FFF,
    684px 908px #FFF,
    173px 1393px #FFF,
    1345px 91px #FFF,
    1962px 206px #FFF,
    1467px 1963px #FFF,
    414px 532px #FFF,
    16px 1903px #FFF,
    1881px 1947px #FFF,
    1555px 909px #FFF,
    1813px 1717px #FFF,
    1401px 1280px #FFF,
    1748px 1896px #FFF,
    1176px 640px #FFF,
    1774px 1291px #FFF,
    1203px 1088px #FFF,
    164px 1245px #FFF,
    1248px 1231px #FFF,
    1695px 996px #FFF,
    1955px 456px #FFF,
    366px 1621px #FFF,
    125px 1400px #FFF,
    607px 1083px #FFF,
    1468px 345px #FFF,
    1593px 97px #FFF,
    1396px 845px #FFF,
    21px 1847px #FFF,
    1695px 343px #FFF,
    1945px 1915px #FFF,
    1304px 1642px #FFF,
    326px 781px #FFF,
    50px 739px #FFF,
    746px 515px #FFF,
    816px 582px #FFF,
    771px 504px #FFF,
    737px 1134px #FFF,
    1071px 317px #FFF,
    1062px 935px #FFF,
    1650px 1176px #FFF,
    216px 1391px #FFF,
    1417px 1205px #FFF,
    308px 1500px #FFF,
    1650px 1543px #FFF,
    1929px 49px #FFF,
    1168px 1658px #FFF,
    1963px 1250px #FFF,
    671px 1668px #FFF,
    1248px 1467px #FFF,
    702px 1796px #FFF,
    1130px 1361px #FFF,
    1428px 291px #FFF,
    638px 1205px #FFF,
    1460px 866px #FFF,
    720px 1547px #FFF,
    1839px 532px #FFF,
    148px 1499px #FFF,
    1644px 1078px #FFF,
    822px 367px #FFF,
    403px 1416px #FFF,
    1299px 162px #FFF,
    1748px 1681px #FFF,
    342px 1566px #FFF,
    1353px 1832px #FFF,
    1259px 738px #FFF,
    1567px 1100px #FFF,
    1113px 938px #FFF,
    1807px 803px #FFF,
    1436px 1202px #FFF,
    406px 810px #FFF,
    1848px 379px #FFF,
    102px 743px #FFF,
    1868px 571px #FFF,
    623px 476px #FFF,
    1793px 36px #FFF,
    1329px 143px #FFF,
    804px 731px #FFF,
    660px 377px #FFF,
    1699px 915px #FFF,
    926px 66px #FFF,
    1321px 822px #FFF,
    958px 1496px #FFF,
    516px 1331px #FFF,
    1018px 1456px #FFF,
    612px 730px #FFF,
    1706px 1133px #FFF,
    1734px 665px #FFF,
    1243px 772px #FFF,
    943px 1377px #FFF,
    181px 1284px #FFF,
    1103px 1011px #FFF,
    1509px 403px #FFF,
    1803px 1380px #FFF,
    1026px 66px #FFF,
    1070px 513px #FFF,
    1534px 725px #FFF,
    1502px 1648px #FFF,
    876px 843px #FFF,
    780px 1433px #FFF,
    769px 1496px #FFF,
    1925px 1238px #FFF,
    1022px 601px #FFF,
    1541px 688px #FFF,
    105px 663px #FFF,
    301px 1533px #FFF,
    41px 732px #FFF,
    1671px 1296px #FFF,
    246px 1806px #FFF,
    1609px 601px #FFF,
    698px 1965px #FFF,
    1234px 1564px #FFF,
    1437px 1891px #FFF,
    1081px 1988px #FFF,
    1631px 249px #FFF,
    1232px 947px #FFF,
    435px 1121px #FFF,
    1606px 11px #FFF,
    1079px 22px #FFF,
    1259px 1835px #FFF,
    1272px 660px #FFF,
    200px 1877px #FFF,
    622px 130px #FFF,
    1316px 1350px #FFF,
    1956px 431px #FFF,
    1530px 1986px #FFF,
    1888px 103px #FFF,
    1966px 1293px #FFF,
    1434px 819px #FFF,
    68px 1039px #FFF,
    1763px 1088px #FFF,
    1419px 1985px #FFF,
    1346px 1708px #FFF,
    100px 96px #FFF,
    1012px 251px #FFF,
    641px 1555px #FFF,
    813px 1571px #FFF,
    394px 1773px #FFF,
    475px 259px #FFF,
    1004px 483px #FFF,
    1006px 896px #FFF,
    1889px 924px #FFF,
    1819px 1813px #FFF,
    470px 1663px #FFF,
    643px 807px #FFF,
    286px 1568px #FFF,
    1309px 1658px #FFF,
    1474px 1103px #FFF,
    1667px 734px #FFF,
    1701px 1684px #FFF,
    1235px 1468px #FFF,
    49px 953px #FFF,
    1081px 908px #FFF,
    1991px 326px #FFF,
    1505px 1231px #FFF,
    476px 122px #FFF,
    1771px 1977px #FFF,
    843px 45px #FFF,
    92px 315px #FFF,
    1724px 776px #FFF,
    418px 6px #FFF,
    404px 1780px #FFF,
    1938px 1809px #FFF,
    1636px 673px #FFF,
    930px 1202px #FFF,
    900px 1069px #FFF,
    932px 373px #FFF,
    1639px 1028px #FFF,
    1652px 994px #FFF,
    540px 604px #FFF,
    1512px 121px #FFF,
    393px 1010px #FFF,
    1431px 948px #FFF,
    1739px 562px #FFF,
    1241px 1504px #FFF,
    1735px 1361px #FFF,
    838px 1856px #FFF,
    1208px 1208px #FFF,
    1134px 264px #FFF,
    1729px 708px #FFF,
    1199px 886px #FFF,
    806px 267px #FFF,
    168px 312px #FFF,
    1505px 245px #FFF,
    329px 1026px #FFF,
    59px 1280px #FFF,
    1926px 621px #FFF,
    1407px 179px #FFF,
    241px 1918px #FFF,
    1625px 1169px #FFF,
    788px 1570px #FFF,
    1995px 468px #FFF,
    1109px 1492px #FFF,
    281px 1676px #FFF,
    1874px 907px #FFF,
    1697px 12px #FFF,
    1321px 366px #FFF,
    1863px 1160px #FFF,
    1815px 1131px #FFF,
    795px 51px #FFF,
    1847px 307px #FFF,
    1681px 1563px #FFF,
    25px 1536px #FFF,
    1660px 701px #FFF,
    1033px 511px #FFF,
    933px 1933px #FFF
  ;
  animation: animStar 50s linear infinite;
}

#stars::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1866px 777px #FFF,
    883px 330px #FFF,
    59px 1696px #FFF,
    497px 1572px #FFF,
    1094px 283px #FFF,
    780px 880px #FFF,
    198px 754px #FFF,
    1001px 1693px #FFF,
    901px 651px #FFF,
    1781px 1716px #FFF,
    673px 759px #FFF,
    82px 1716px #FFF,
    10px 1451px #FFF,
    987px 1561px #FFF,
    1275px 1234px #FFF,
    383px 1319px #FFF,
    1201px 1983px #FFF,
    1462px 545px #FFF,
    1254px 1763px #FFF,
    160px 1639px #FFF,
    1526px 631px #FFF,
    541px 1944px #FFF,
    1864px 1995px #FFF,
    904px 1261px #FFF,
    474px 393px #FFF,
    757px 1790px #FFF,
    1784px 18px #FFF,
    21px 162px #FFF,
    1973px 106px #FFF,
    760px 1425px #FFF,
    1175px 388px #FFF,
    1932px 418px #FFF,
    116px 1354px #FFF,
    1612px 222px #FFF,
    1378px 1166px #FFF,
    187px 1584px #FFF,
    1718px 1062px #FFF,
    243px 1613px #FFF,
    867px 1750px #FFF,
    970px 370px #FFF,
    184px 783px #FFF,
    409px 1981px #FFF,
    107px 1454px #FFF,
    1460px 1467px #FFF,
    1513px 421px #FFF,
    837px 520px #FFF,
    10px 1515px #FFF,
    178px 1524px #FFF,
    1904px 478px #FFF,
    634px 1192px #FFF,
    315px 884px #FFF,
    1305px 1132px #FFF,
    944px 1749px #FFF,
    1261px 433px #FFF,
    1727px 1016px #FFF,
    1842px 415px #FFF,
    13px 186px #FFF,
    684px 908px #FFF,
    173px 1393px #FFF,
    1345px 91px #FFF,
    1962px 206px #FFF,
    1467px 1963px #FFF,
    414px 532px #FFF,
    16px 1903px #FFF,
    1881px 1947px #FFF,
    1555px 909px #FFF,
    1813px 1717px #FFF,
    1401px 1280px #FFF,
    1748px 1896px #FFF,
    1176px 640px #FFF,
    1774px 1291px #FFF,
    1203px 1088px #FFF,
    164px 1245px #FFF,
    1248px 1231px #FFF,
    1695px 996px #FFF,
    1955px 456px #FFF,
    366px 1621px #FFF,
    125px 1400px #FFF,
    607px 1083px #FFF,
    1468px 345px #FFF,
    1593px 97px #FFF,
    1396px 845px #FFF,
    21px 1847px #FFF,
    1695px 343px #FFF,
    1945px 1915px #FFF,
    1304px 1642px #FFF,
    326px 781px #FFF,
    50px 739px #FFF,
    746px 515px #FFF,
    816px 582px #FFF,
    771px 504px #FFF,
    737px 1134px #FFF,
    1071px 317px #FFF,
    1062px 935px #FFF,
    1650px 1176px #FFF,
    216px 1391px #FFF,
    1417px 1205px #FFF,
    308px 1500px #FFF,
    1650px 1543px #FFF,
    1929px 49px #FFF,
    1168px 1658px #FFF,
    1963px 1250px #FFF,
    671px 1668px #FFF,
    1248px 1467px #FFF,
    702px 1796px #FFF,
    1130px 1361px #FFF,
    1428px 291px #FFF,
    638px 1205px #FFF,
    1460px 866px #FFF,
    720px 1547px #FFF,
    1839px 532px #FFF,
    148px 1499px #FFF,
    1644px 1078px #FFF,
    822px 367px #FFF,
    403px 1416px #FFF,
    1299px 162px #FFF,
    1748px 1681px #FFF,
    342px 1566px #FFF,
    1353px 1832px #FFF,
    1259px 738px #FFF,
    1567px 1100px #FFF,
    1113px 938px #FFF,
    1807px 803px #FFF,
    1436px 1202px #FFF,
    406px 810px #FFF,
    1848px 379px #FFF,
    102px 743px #FFF,
    1868px 571px #FFF,
    623px 476px #FFF,
    1793px 36px #FFF,
    1329px 143px #FFF,
    804px 731px #FFF,
    660px 377px #FFF,
    1699px 915px #FFF,
    926px 66px #FFF,
    1321px 822px #FFF,
    958px 1496px #FFF,
    516px 1331px #FFF,
    1018px 1456px #FFF,
    612px 730px #FFF,
    1706px 1133px #FFF,
    1734px 665px #FFF,
    1243px 772px #FFF,
    943px 1377px #FFF,
    181px 1284px #FFF,
    1103px 1011px #FFF,
    1509px 403px #FFF,
    1803px 1380px #FFF,
    1026px 66px #FFF,
    1070px 513px #FFF,
    1534px 725px #FFF,
    1502px 1648px #FFF,
    876px 843px #FFF,
    780px 1433px #FFF,
    769px 1496px #FFF,
    1925px 1238px #FFF,
    1022px 601px #FFF,
    1541px 688px #FFF,
    105px 663px #FFF,
    301px 1533px #FFF,
    41px 732px #FFF,
    1671px 1296px #FFF,
    246px 1806px #FFF,
    1609px 601px #FFF,
    698px 1965px #FFF,
    1234px 1564px #FFF,
    1437px 1891px #FFF,
    1081px 1988px #FFF,
    1631px 249px #FFF,
    1232px 947px #FFF,
    435px 1121px #FFF,
    1606px 11px #FFF,
    1079px 22px #FFF,
    1259px 1835px #FFF,
    1272px 660px #FFF,
    200px 1877px #FFF,
    622px 130px #FFF,
    1316px 1350px #FFF,
    1956px 431px #FFF,
    1530px 1986px #FFF,
    1888px 103px #FFF,
    1966px 1293px #FFF,
    1434px 819px #FFF,
    68px 1039px #FFF,
    1763px 1088px #FFF,
    1419px 1985px #FFF,
    1346px 1708px #FFF,
    100px 96px #FFF,
    1012px 251px #FFF,
    641px 1555px #FFF,
    813px 1571px #FFF,
    394px 1773px #FFF,
    475px 259px #FFF,
    1004px 483px #FFF,
    1006px 896px #FFF,
    1889px 924px #FFF,
    1819px 1813px #FFF,
    470px 1663px #FFF,
    643px 807px #FFF,
    286px 1568px #FFF,
    1309px 1658px #FFF,
    1474px 1103px #FFF,
    1667px 734px #FFF,
    1701px 1684px #FFF,
    1235px 1468px #FFF,
    49px 953px #FFF,
    1081px 908px #FFF,
    1991px 326px #FFF,
    1505px 1231px #FFF,
    476px 122px #FFF,
    1771px 1977px #FFF,
    843px 45px #FFF,
    92px 315px #FFF,
    1724px 776px #FFF,
    418px 6px #FFF,
    404px 1780px #FFF,
    1938px 1809px #FFF,
    1636px 673px #FFF,
    930px 1202px #FFF,
    900px 1069px #FFF,
    932px 373px #FFF,
    1639px 1028px #FFF,
    1652px 994px #FFF,
    540px 604px #FFF,
    1512px 121px #FFF,
    393px 1010px #FFF,
    1431px 948px #FFF,
    1739px 562px #FFF,
    1241px 1504px #FFF,
    1735px 1361px #FFF,
    838px 1856px #FFF,
    1208px 1208px #FFF,
    1134px 264px #FFF,
    1729px 708px #FFF,
    1199px 886px #FFF,
    806px 267px #FFF,
    168px 312px #FFF,
    1505px 245px #FFF,
    329px 1026px #FFF,
    59px 1280px #FFF,
    1926px 621px #FFF,
    1407px 179px #FFF,
    241px 1918px #FFF,
    1625px 1169px #FFF,
    788px 1570px #FFF,
    1995px 468px #FFF,
    1109px 1492px #FFF,
    281px 1676px #FFF,
    1874px 907px #FFF,
    1697px 12px #FFF,
    1321px 366px #FFF,
    1863px 1160px #FFF,
    1815px 1131px #FFF,
    795px 51px #FFF,
    1847px 307px #FFF,
    1681px 1563px #FFF,
    25px 1536px #FFF,
    1660px 701px #FFF,
    1033px 511px #FFF,
    933px 1933px #FFF
  ;
  animation: animStar 50s linear infinite;
}

/* --------------------------------------
   MEDIUM STARS (200) - 2px x 2px
   -------------------------------------- */
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1528px 1726px #FFF,
    1910px 961px #FFF,
    682px 1001px #FFF,
    245px 358px #FFF,
    927px 1764px #FFF,
    1383px 495px #FFF,
    858px 1053px #FFF,
    1054px 1543px #FFF,
    152px 99px #FFF,
    1864px 631px #FFF,
    164px 591px #FFF,
    1825px 169px #FFF,
    445px 252px #FFF,
    1543px 456px #FFF,
    1549px 1587px #FFF,
    1151px 1701px #FFF,
    1401px 1120px #FFF,
    935px 334px #FFF,
    157px 1547px #FFF,
    1172px 474px #FFF,
    1117px 477px #FFF,
    1213px 1607px #FFF,
    1367px 277px #FFF,
    317px 293px #FFF,
    636px 1469px #FFF,
    303px 1195px #FFF,
    1128px 921px #FFF,
    1710px 855px #FFF,
    323px 564px #FFF,
    1081px 135px #FFF,
    1352px 1934px #FFF,
    1903px 1932px #FFF,
    228px 1766px #FFF,
    1169px 660px #FFF,
    1947px 1796px #FFF,
    1924px 1860px #FFF,
    1546px 1353px #FFF,
    1605px 162px #FFF,
    238px 248px #FFF,
    419px 672px #FFF,
    1204px 562px #FFF,
    1242px 1933px #FFF,
    617px 355px #FFF,
    1220px 608px #FFF,
    896px 70px #FFF,
    911px 564px #FFF,
    331px 160px #FFF,
    1930px 180px #FFF,
    99px 417px #FFF,
    910px 652px #FFF,
    368px 1843px #FFF,
    95px 1103px #FFF,
    368px 1657px #FFF,
    660px 1070px #FFF,
    1036px 1216px #FFF,
    824px 940px #FFF,
    1836px 1541px #FFF,
    1074px 194px #FFF,
    1168px 68px #FFF,
    103px 1758px #FFF,
    1746px 115px #FFF,
    1118px 1132px #FFF,
    1220px 1296px #FFF,
    282px 1910px #FFF,
    1455px 749px #FFF,
    612px 1836px #FFF,
    638px 1422px #FFF,
    678px 600px #FFF,
    1103px 1293px #FFF,
    1343px 806px #FFF,
    820px 669px #FFF,
    1148px 1017px #FFF,
    1346px 1832px #FFF,
    497px 911px #FFF,
    1270px 1682px #FFF,
    1216px 1148px #FFF,
    510px 967px #FFF,
    1710px 881px #FFF,
    1593px 1136px #FFF,
    1231px 1717px #FFF,
    1739px 52px #FFF,
    1253px 721px #FFF,
    1225px 1071px #FFF,
    1649px 1550px #FFF,
    1419px 1571px #FFF,
    1105px 829px #FFF,
    1619px 1002px #FFF,
    193px 183px #FFF,
    1213px 922px #FFF,
    1975px 1057px #FFF,
    1970px 1584px #FFF,
    841px 1190px #FFF,
    1620px 102px #FFF,
    1686px 395px #FFF,
    118px 1434px #FFF,
    839px 1085px #FFF,
    798px 436px #FFF,
    1122px 711px #FFF,
    1949px 1725px #FFF,
    812px 1367px #FFF,
    1777px 198px #FFF,
    688px 781px #FFF,
    724px 273px #FFF,
    428px 569px #FFF,
    905px 385px #FFF,
    1921px 952px #FFF,
    1397px 1438px #FFF,
    728px 332px #FFF,
    1063px 117px #FFF,
    1619px 1119px #FFF,
    1430px 1100px #FFF,
    94px 516px #FFF,
    1186px 1900px #FFF,
    1825px 700px #FFF,
    1768px 191px #FFF,
    735px 1029px #FFF,
    212px 1309px #FFF,
    1181px 398px #FFF,
    290px 1021px #FFF,
    1339px 1542px #FFF,
    226px 941px #FFF,
    1684px 1982px #FFF,
    528px 1344px #FFF,
    992px 1291px #FFF,
    628px 1481px #FFF,
    1943px 752px #FFF,
    1904px 25px #FFF,
    704px 261px #FFF,
    490px 698px #FFF,
    1819px 1816px #FFF,
    1747px 1638px #FFF,
    1630px 107px #FFF,
    1254px 775px #FFF,
    683px 1429px #FFF,
    349px 1799px #FFF,
    619px 654px #FFF,
    1167px 1140px #FFF,
    71px 560px #FFF,
    150px 742px #FFF,
    315px 452px #FFF,
    721px 848px #FFF,
    1342px 439px #FFF,
    945px 157px #FFF,
    480px 1604px #FFF,
    1751px 1421px #FFF,
    160px 1746px #FFF,
    397px 727px #FFF,
    736px 98px #FFF,
    1460px 1700px #FFF,
    1314px 1472px #FFF,
    1124px 1500px #FFF,
    1982px 1794px #FFF,
    28px 1772px #FFF,
    1514px 756px #FFF,
    1528px 609px #FFF,
    327px 1550px #FFF,
    658px 567px #FFF,
    1783px 391px #FFF,
    545px 1473px #FFF,
    403px 1550px #FFF,
    983px 901px #FFF,
    1546px 1429px #FFF,
    1527px 1691px #FFF,
    275px 1590px #FFF,
    1677px 428px #FFF,
    845px 1776px #FFF,
    1864px 540px #FFF,
    1899px 967px #FFF,
    295px 1468px #FFF,
    1233px 898px #FFF,
    548px 666px #FFF,
    907px 987px #FFF,
    286px 1106px #FFF,
    718px 944px #FFF,
    904px 1929px #FFF,
    1565px 556px #FFF,
    345px 1166px #FFF,
    73px 1275px #FFF,
    560px 813px #FFF,
    1763px 223px #FFF,
    566px 1018px #FFF,
    706px 417px #FFF,
    162px 164px #FFF,
    1558px 1403px #FFF,
    604px 264px #FFF,
    822px 16px #FFF,
    1154px 833px #FFF,
    698px 420px #FFF,
    1527px 1629px #FFF,
    1919px 517px #FFF,
    27px 818px #FFF,
    1753px 1528px #FFF,
    876px 1432px #FFF,
    151px 221px #FFF,
    701px 1230px #FFF,
    812px 1790px #FFF,
    1179px 497px #FFF,
    275px 1852px #FFF,
    1599px 1003px #FFF,
    274px 635px #FFF,
    623px 1982px #FFF,
    1920px 1603px #FFF,
    1745px 848px #FFF,
    612px 1259px #FFF,
    1331px 569px #FFF,
    1533px 57px #FFF,
    1245px 1835px #FFF,
    469px 465px #FFF,
    1263px 1226px #FFF,
    870px 1149px #FFF,
    1731px 739px #FFF,
    1100px 1896px #FFF,
    1196px 133px #FFF,
    1140px 1825px #FFF,
    270px 1431px #FFF,
    1662px 1332px #FFF,
    935px 1928px #FFF,
    442px 1314px #FFF,
    402px 232px #FFF,
    560px 1051px #FFF,
    179px 1255px #FFF,
    465px 1569px #FFF,
    1818px 552px #FFF,
    291px 1852px #FFF,
    1672px 1261px #FFF,
    1917px 634px #FFF,
    728px 1738px #FFF,
    1659px 972px #FFF,
    1573px 1561px #FFF,
    711px 229px #FFF,
    1298px 1699px #FFF,
    1908px 311px #FFF,
    1575px 1837px #FFF,
    823px 1466px #FFF,
    635px 1061px #FFF,
    1805px 1104px #FFF,
    1964px 288px #FFF,
    1586px 737px #FFF,
    448px 234px #FFF,
    955px 1463px #FFF,
    15px 1042px #FFF,
    1835px 1761px #FFF,
    1014px 863px #FFF,
     
  ;
  animation: animStar 100s linear infinite;
}

#stars2::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1528px 1726px #FFF,
    1910px 961px #FFF,
    682px 1001px #FFF,
    245px 358px #FFF,
    927px 1764px #FFF,
    1383px 495px #FFF,
    858px 1053px #FFF,
    1054px 1543px #FFF,
    152px 99px #FFF,
    1864px 631px #FFF,
    164px 591px #FFF,
    1825px 169px #FFF,
    445px 252px #FFF,
    1543px 456px #FFF,
    1549px 1587px #FFF,
    1151px 1701px #FFF,
    1401px 1120px #FFF,
    935px 334px #FFF,
    157px 1547px #FFF,
    1172px 474px #FFF,
    1117px 477px #FFF,
    1213px 1607px #FFF,
    1367px 277px #FFF,
    317px 293px #FFF,
    636px 1469px #FFF,
    303px 1195px #FFF,
    1128px 921px #FFF,
    1710px 855px #FFF,
    323px 564px #FFF,
    1081px 135px #FFF,
    1352px 1934px #FFF,
    1903px 1932px #FFF,
    228px 1766px #FFF,
    1169px 660px #FFF,
    1947px 1796px #FFF,
    1924px 1860px #FFF,
    1546px 1353px #FFF,
    1605px 162px #FFF,
    238px 248px #FFF,
    419px 672px #FFF,
    1204px 562px #FFF,
    1242px 1933px #FFF,
    617px 355px #FFF,
    1220px 608px #FFF,
    896px 70px #FFF,
    911px 564px #FFF,
    331px 160px #FFF,
    1930px 180px #FFF,
    99px 417px #FFF,
    910px 652px #FFF,
    368px 1843px #FFF,
    95px 1103px #FFF,
    368px 1657px #FFF,
    660px 1070px #FFF,
    1036px 1216px #FFF,
    824px 940px #FFF,
    1836px 1541px #FFF,
    1074px 194px #FFF,
    1168px 68px #FFF,
    103px 1758px #FFF,
    1746px 115px #FFF,
    1118px 1132px #FFF,
    1220px 1296px #FFF,
    282px 1910px #FFF,
    1455px 749px #FFF,
    612px 1836px #FFF,
    638px 1422px #FFF,
    678px 600px #FFF,
    1103px 1293px #FFF,
    1343px 806px #FFF,
    820px 669px #FFF,
    1148px 1017px #FFF,
    1346px 1832px #FFF,
    497px 911px #FFF,
    1270px 1682px #FFF,
    1216px 1148px #FFF,
    510px 967px #FFF,
    1710px 881px #FFF,
    1593px 1136px #FFF,
    1231px 1717px #FFF,
    1739px 52px #FFF,
    1253px 721px #FFF,
    1225px 1071px #FFF,
    1649px 1550px #FFF,
    1419px 1571px #FFF,
    1105px 829px #FFF,
    1619px 1002px #FFF,
    193px 183px #FFF,
    1213px 922px #FFF,
    1975px 1057px #FFF,
    1970px 1584px #FFF,
    841px 1190px #FFF,
    1620px 102px #FFF,
    1686px 395px #FFF,
    118px 1434px #FFF,
    839px 1085px #FFF,
    798px 436px #FFF,
    1122px 711px #FFF,
    1949px 1725px #FFF,
    812px 1367px #FFF,
    1777px 198px #FFF,
    688px 781px #FFF,
    724px 273px #FFF,
    428px 569px #FFF,
    905px 385px #FFF,
    1921px 952px #FFF,
    1397px 1438px #FFF,
    728px 332px #FFF,
    1063px 117px #FFF,
    1619px 1119px #FFF,
    1430px 1100px #FFF,
    94px 516px #FFF,
    1186px 1900px #FFF,
    1825px 700px #FFF,
    1768px 191px #FFF,
    735px 1029px #FFF,
    212px 1309px #FFF,
    1181px 398px #FFF,
    290px 1021px #FFF,
    1339px 1542px #FFF,
    226px 941px #FFF,
    1684px 1982px #FFF,
    528px 1344px #FFF,
    992px 1291px #FFF,
    628px 1481px #FFF,
    1943px 752px #FFF,
    1904px 25px #FFF,
    704px 261px #FFF,
    490px 698px #FFF,
    1819px 1816px #FFF,
    1747px 1638px #FFF,
    1630px 107px #FFF,
    1254px 775px #FFF,
    683px 1429px #FFF,
    349px 1799px #FFF,
    619px 654px #FFF,
    1167px 1140px #FFF,
    71px 560px #FFF,
    150px 742px #FFF,
    315px 452px #FFF,
    721px 848px #FFF,
    1342px 439px #FFF,
    945px 157px #FFF,
    480px 1604px #FFF,
    1751px 1421px #FFF,
    160px 1746px #FFF,
    397px 727px #FFF,
    736px 98px #FFF,
    1460px 1700px #FFF,
    1314px 1472px #FFF,
    1124px 1500px #FFF,
    1982px 1794px #FFF,
    28px 1772px #FFF,
    1514px 756px #FFF,
    1528px 609px #FFF,
    327px 1550px #FFF,
    658px 567px #FFF,
    1783px 391px #FFF,
    545px 1473px #FFF,
    403px 1550px #FFF,
    983px 901px #FFF,
    1546px 1429px #FFF,
    1527px 1691px #FFF,
    275px 1590px #FFF,
    1677px 428px #FFF,
    845px 1776px #FFF,
    1864px 540px #FFF,
    1899px 967px #FFF,
    295px 1468px #FFF,
    1233px 898px #FFF,
    548px 666px #FFF,
    907px 987px #FFF,
    286px 1106px #FFF,
    718px 944px #FFF,
    904px 1929px #FFF,
    1565px 556px #FFF,
    345px 1166px #FFF,
    73px 1275px #FFF,
    560px 813px #FFF,
    1763px 223px #FFF,
    566px 1018px #FFF,
    706px 417px #FFF,
    162px 164px #FFF,
    1558px 1403px #FFF,
    604px 264px #FFF,
    822px 16px #FFF,
    1154px 833px #FFF,
    698px 420px #FFF,
    1527px 1629px #FFF,
    1919px 517px #FFF,
    27px 818px #FFF,
    1753px 1528px #FFF,
    876px 1432px #FFF,
    151px 221px #FFF,
    701px 1230px #FFF,
    812px 1790px #FFF,
    1179px 497px #FFF,
    275px 1852px #FFF,
    1599px 1003px #FFF,
    274px 635px #FFF,
    623px 1982px #FFF,
    1920px 1603px #FFF,
    1745px 848px #FFF,
    612px 1259px #FFF,
    1331px 569px #FFF,
    1533px 57px #FFF,
    1245px 1835px #FFF,
    469px 465px #FFF,
    1263px 1226px #FFF,
    870px 1149px #FFF,
    1731px 739px #FFF,
    1100px 1896px #FFF,
    1196px 133px #FFF,
    1140px 1825px #FFF,
    270px 1431px #FFF,
    1662px 1332px #FFF,
    935px 1928px #FFF,
    442px 1314px #FFF,
    402px 232px #FFF,
    560px 1051px #FFF,
    179px 1255px #FFF,
    465px 1569px #FFF,
    1818px 552px #FFF,
    291px 1852px #FFF,
    1672px 1261px #FFF,
    1917px 634px #FFF,
    728px 1738px #FFF,
    1659px 972px #FFF,
    1573px 1561px #FFF,
    711px 229px #FFF,
    1298px 1699px #FFF,
    1908px 311px #FFF,
    1575px 1837px #FFF,
    823px 1466px #FFF,
    635px 1061px #FFF,
    1805px 1104px #FFF,
    1964px 288px #FFF,
    1586px 737px #FFF,
    448px 234px #FFF,
    955px 1463px #FFF,
    15px 1042px #FFF,
    1835px 1761px #FFF,
    1014px 863px #FFF   
  ;
  animation: animStar 100s linear infinite;
}

/* --------------------------------------
   LARGE STARS (100) - 3px x 3px
   -------------------------------------- */
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1222px 1286px #FFF,
    1683px 266px #FFF,
    1402px 368px #FFF,
    40px 1322px #FFF,
    1936px 1768px #FFF,
    1465px 550px #FFF,
    263px 1682px #FFF,
    954px 1999px #FFF,
    1125px 1276px #FFF,
    1812px 719px #FFF,
    1790px 1727px #FFF,
    494px 37px #FFF,
    1865px 1411px #FFF,
    1415px 154px #FFF,
    475px 269px #FFF,
    457px 851px #FFF,
    832px 1201px #FFF,
    1260px 276px #FFF,
    157px 252px #FFF,
    1750px 1449px #FFF,
    786px 1640px #FFF,
    682px 885px #FFF,
    331px 1768px #FFF,
    515px 451px #FFF,
    432px 838px #FFF,
    1505px 1401px #FFF,
    1642px 1757px #FFF,
    1711px 142px #FFF,
    1766px 1176px #FFF,
    120px 164px #FFF,
    818px 313px #FFF,
    628px 1271px #FFF,
    101px 768px #FFF,
    1580px 1301px #FFF,
    1287px 1193px #FFF,
    552px 1789px #FFF,
    1092px 1002px #FFF,
    1246px 1978px #FFF,
    153px 1438px #FFF,
    431px 353px #FFF,
    647px 1514px #FFF,
    206px 1575px #FFF,
    1669px 1663px #FFF,
    1072px 1206px #FFF,
    159px 977px #FFF,
    1128px 348px #FFF,
    1393px 1239px #FFF,
    430px 1751px #FFF,
    1485px 782px #FFF,
    1692px 1339px #FFF,
    1353px 1046px #FFF,
    1553px 1353px #FFF,
    39px 1920px #FFF,
    831px 522px #FFF,
    282px 547px #FFF,
    1447px 146px #FFF,
    215px 153px #FFF,
    185px 548px #FFF,
    1820px 523px #FFF,
    1609px 282px #FFF,
    648px 1231px #FFF,
    392px 361px #FFF,
    1530px 74px #FFF,
    1497px 309px #FFF,
    166px 759px #FFF,
    1412px 1895px #FFF,
    547px 479px #FFF,
    1971px 412px #FFF,
    1195px 666px #FFF,
    1436px 198px #FFF,
    956px 1588px #FFF,
    1317px 262px #FFF,
    122px 889px #FFF,
    1806px 184px #FFF,
    439px 485px #FFF,
    1668px 453px #FFF,
    1941px 1650px #FFF,
    1613px 1867px #FFF,
    1854px 400px #FFF,
    1842px 1028px #FFF,
    1424px 1638px #FFF,
    1443px 1627px #FFF,
    161px 1473px #FFF,
    682px 624px #FFF,
    398px 1171px #FFF,
    1966px 1173px #FFF,
    1391px 928px #FFF,
    1px 1132px #FFF,
    284px 1837px #FFF,
    1612px 1999px #FFF,
    1586px 1469px #FFF,
    398px 1108px #FFF,
    1461px 1691px #FFF,
    1947px 301px #FFF,
    1205px 1507px #FFF,
    1702px 1355px #FFF,
    1467px 1680px #FFF,
    1631px 82px #FFF,
    45px 1204px #FFF,
    415px 1740px #FFF,
    172px 645px #FFF,
    1458px 1859px #FFF,
    1700px 1425px #FFF,
    1267px 1238px #FFF,
    1534px 1605px #FFF,
    769px 1552px #FFF,
    1260px 910px #FFF,
    1164px 1934px #FFF  
  ;
  animation: animStar 150s linear infinite;
}

#stars3::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1222px 1286px #FFF,
    1683px 266px #FFF,
    1402px 368px #FFF,
    40px 1322px #FFF,
    1936px 1768px #FFF,
    1465px 550px #FFF,
    263px 1682px #FFF,
    954px 1999px #FFF,
    1125px 1276px #FFF,
    1812px 719px #FFF,
    1790px 1727px #FFF,
    494px 37px #FFF,
    1865px 1411px #FFF,
    1415px 154px #FFF,
    475px 269px #FFF,
    457px 851px #FFF,
    832px 1201px #FFF,
    1260px 276px #FFF,
    157px 252px #FFF,
    1750px 1449px #FFF,
    786px 1640px #FFF,
    682px 885px #FFF,
    331px 1768px #FFF,
    515px 451px #FFF,
    432px 838px #FFF,
    1505px 1401px #FFF,
    1642px 1757px #FFF,
    1711px 142px #FFF,
    1766px 1176px #FFF,
    120px 164px #FFF,
    818px 313px #FFF,
    628px 1271px #FFF,
    101px 768px #FFF,
    1580px 1301px #FFF,
    1287px 1193px #FFF,
    552px 1789px #FFF,
    1092px 1002px #FFF,
    1246px 1978px #FFF,
    153px 1438px #FFF,
    431px 353px #FFF,
    647px 1514px #FFF,
    206px 1575px #FFF,
    1669px 1663px #FFF,
    1072px 1206px #FFF,
    159px 977px #FFF,
    1128px 348px #FFF,
    1393px 1239px #FFF,
    430px 1751px #FFF,
    1485px 782px #FFF,
    1692px 1339px #FFF,
    1353px 1046px #FFF,
    1553px 1353px #FFF,
    39px 1920px #FFF,
    831px 522px #FFF,
    282px 547px #FFF,
    1447px 146px #FFF,
    215px 153px #FFF,
    185px 548px #FFF,
    1820px 523px #FFF,
    1609px 282px #FFF,
    648px 1231px #FFF,
    392px 361px #FFF,
    1530px 74px #FFF,
    1497px 309px #FFF,
    166px 759px #FFF,
    1412px 1895px #FFF,
    547px 479px #FFF,
    1971px 412px #FFF,
    1195px 666px #FFF,
    1436px 198px #FFF,
    956px 1588px #FFF,
    1317px 262px #FFF,
    122px 889px #FFF,
    1806px 184px #FFF,
    439px 485px #FFF,
    1668px 453px #FFF,
    1941px 1650px #FFF,
    1613px 1867px #FFF,
    1854px 400px #FFF,
    1842px 1028px #FFF,
    1424px 1638px #FFF,
    1443px 1627px #FFF,
    161px 1473px #FFF,
    682px 624px #FFF,
    398px 1171px #FFF,
    1966px 1173px #FFF,
    1391px 928px #FFF,
    1px 1132px #FFF,
    284px 1837px #FFF,
    1612px 1999px #FFF,
    1586px 1469px #FFF,
    398px 1108px #FFF,
    1461px 1691px #FFF,
    1947px 301px #FFF,
    1205px 1507px #FFF,
    1702px 1355px #FFF,
    1467px 1680px #FFF,
    1631px 82px #FFF,
    45px 1204px #FFF,
    415px 1740px #FFF,
    172px 645px #FFF,
    1458px 1859px #FFF,
    1700px 1425px #FFF,
    1267px 1238px #FFF,
    1534px 1605px #FFF,
    769px 1552px #FFF,
    1260px 910px #FFF,
    1164px 1934px #FFF  
  ;
  animation: animStar 150s linear infinite;
}

/* --------------------------------------
   TITLE STYLING
   -------------------------------------- */
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  display: inline-block;
  background: -webkit-linear-gradient(white, #38495a);
  background: linear-gradient(white, #38495a); /* proprietà standard aggiunta */
  -webkit-background-clip: text;
  background-clip: text; /* proprietà standard aggiunta */
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent; /* proprietà standard aggiunta */
}
