/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'A Goblin Appears! ';
  src: url('assets/fonts/A\ Goblin\ Appears!.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* evita flash di testo invisibile */
}

/* --------------------------------------
   KEYFRAMES FOR STAR ANIMATION
   -------------------------------------- */
 /* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
} 
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
.line-2{
    position: relative;
    top: 50%;  
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 500px) {
 .line-1{
  font-size: 100%;
 }

 .line-2{
  font-size: 80%;
 }

}