
<!-- 
<div class="splash-container">

 <img
  src="assets/avatarZZZ.png"
  alt="Splash Logo"
  class=""
/>
</div> -->
<div class="splash-container">
      <img
        src="{{ images[imageIndex] }}"
        alt="Portfolio"
        class="logo splash-logo pulse"
        (click)="handleClick()"
        [class.changed]="clicked"
        [class.show]="clicked"
        [ngClass]="{'pulse': !clicked}"
      />

      <div
        *ngIf="clicked"
        class="menu-vis fade"
      >
        <ul class="menu">
          <li><a href="#about" class="hover:underline"><img src="assets/about_me_pixel.png" alt=""></a></li>
          <li><a href="#projects" class="hover:underline"><img src="assets/projects_pixel.png" alt=""></a></li>
          <li><a href="#contact" class="hover:underline"><img src="assets/contacts_pixel.png" alt=""></a></li>
        </ul>
      </div>
    </div>

