
<div class="menu-vis fade">
  <div class="menu">
  
  <ul *ngIf="menuVisible">
    
    <h1 class="line-1 anim-typewriter">hi I'm Francesco</h1>
    <h6 class="line-2 anim-typewriter">Fullstack developer</h6>
    <li class="menu-list" *ngFor="let item of menuItems; let i = index"
        [class.fade-out]="selectedIndex !== null && selectedIndex !== i"
        [class.slide-up]="selectedIndex === i">
      <a href="" (click)="onSelect(i, $event)" class="menu-item">
        {{ item.label }}
      </a>
    </li>
  </ul>

  <router-outlet ></router-outlet>
  </div>
</div>

<!-- questo router-outlet ospiterà About/Projects/Contact -->



