
<div class="menu-vis fade">
  <div class="menu">
  <ul *ngIf="menuVisible">
    <li *ngFor="let item of menuItems; let i = index"
        [class.fade-out]="selectedIndex !== null && selectedIndex !== i"
        [class.slide-up]="selectedIndex === i">
      <a href="" (click)="onSelect(i, $event)" class="hover:underline">
        <img [src]="item.img" alt="">
      </a>
    </li>
  </ul>

  <router-outlet ></router-outlet>
  </div>
</div>

<!-- questo router-outlet ospiterà About/Projects/Contact -->



